apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.wordpress.replicas }}
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      initContainers:
        - name: wait-for-mysql
          image: busybox:1.36
          command: ['sh', '-c', 'until nc -z mysql 3306; do echo waiting for mysql; sleep 2; done; echo mysql ready']
      containers:
        - name: wordpress
          image: {{ .Values.wordpress.image.repository }}:{{ .Values.wordpress.image.tag }}
          imagePullPolicy: {{ .Values.wordpress.image.pullPolicy }}
          env:
            - name: WORDPRESS_DB_HOST
              value: "mysql:3306"
            - name: WORDPRESS_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: database
            - name: WORDPRESS_DB_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: username
            - name: WORDPRESS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: password
            - name: WORDPRESS_CONFIG_EXTRA
              value: |
                define('WP_HOME', 'http://{{ (index .Values.ingress.hosts 0).host }}');
                define('WP_SITEURL', 'http://{{ (index .Values.ingress.hosts 0).host }}');
          ports:
            - containerPort: 80
              name: http
          resources:
            {{- toYaml .Values.wordpress.resources | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.wordpress.readinessProbe | nindent 12 }}
          livenessProbe:
            {{- toYaml .Values.wordpress.livenessProbe | nindent 12 }}
      volumes:
        - name: wordpress-data
          emptyDir: {}
